@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Roboto-extra-bold';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('./fonts/Roboto/Roboto-ExtraBold.ttf') format('opentype');
}

@font-face {
  font-family: 'Roboto-bold';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./fonts/Roboto/Roboto-Bold.ttf') format('opentype');
}

@font-face {
  font-family: 'Roboto-semi-bold';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('./fonts/Roboto/Roboto-SemiBold.ttf') format('opentype');
}

@font-face {
  font-family: 'Roboto-medium';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./fonts/Roboto/Roboto-Medium.ttf') format('opentype');
}

@font-face {
  font-family: 'Roboto-regular';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./fonts/Roboto/Roboto-Regular.ttf') format('opentype');
}

@font-face {
  font-family: 'Roboto-light';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('./fonts/Roboto/Roboto-Light.ttf') format('opentype');
}

body {
  @apply font-['Roboto-regular'];
}
